@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Avenir';
	font-weight: 500;
    font-style: normal;
	font-size: 1rem;
	color: #fff;
}

/* .my-color {
	color: red;
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: url(./assets/background.svg) no-repeat center center fixed;
} */